<form
  class="formWrapper"
  [formGroup]="todoForm"
  (ngSubmit)="handleFormSubmit()"
>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput placeholder="Enter title" formControlName="title" />
    <mat-error *ngIf="title?.errors?.['required']">
      Title is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a deadline date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="deadlineDate" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button
    type="submit"
    matSuffix
    mat-raised-button
    color="accent"
    class="addButton"
    [disabled]="!todoForm.valid"
  >
    <mat-icon>add</mat-icon> Додати
  </button>
</form>
