<nz-card [nzTitle]="title" [nzExtra]="extraTemplate" nzHoverable>
  {{ content }}
</nz-card>
<ng-template #extraTemplate>
  <nz-tag nzColor="processing">Long Post</nz-tag>
  <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu">
    <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>
        <span nz-icon nzType="delete" nzTheme="outline"></span> Delete
      </li>
    </ul>
  </nz-dropdown-menu>
</ng-template>
