<div *ngIf="orderSent" class="m-2 text-center">
  <h2>Thanks!</h2>
  <p>Thanks for placing your order.</p>
  <p>We'll ship your goods as soon as possible.</p>
  <button nz-button nzType="primary" routerLink="/store">
    Return to Store
  </button>
</div>
<form *ngIf="!orderSent" [formGroup]="orderForm" (ngSubmit)="submitOrder()">
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>Name</nz-form-label>
    <nz-form-control [nzErrorTip]="nameErrorTemplate">
      <input nz-input formControlName="name" placeholder="Enter order name" />
      <ng-template #nameErrorTemplate let-control>
        <ng-container *ngIf="control?.errors?.['required']">
          Please input order name!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>Address</nz-form-label>
    <nz-form-control [nzErrorTip]="nameErrorTemplate">
      <input
        nz-input
        formControlName="address"
        placeholder="Enter order address"
      />
      <ng-template #nameErrorTemplate let-control>
        <ng-container *ngIf="control?.errors?.['required']">
          Please input order address!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>City</nz-form-label>
    <nz-form-control [nzErrorTip]="cityErrorTemplate">
      <input nz-input formControlName="city" placeholder="Enter order city" />
      <ng-template #cityErrorTemplate let-control>
        <ng-container *ngIf="control?.errors?.['required']">
          Please input order city!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>State</nz-form-label>
    <nz-form-control [nzErrorTip]="stateErrorTemplate">
      <input nz-input formControlName="state" placeholder="Enter order state" />
      <ng-template #stateErrorTemplate let-control>
        <ng-container *ngIf="control?.errors?.['required']">
          Please input order state!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>Zip</nz-form-label>
    <nz-form-control [nzErrorTip]="zipErrorTemplate">
      <input nz-input formControlName="zip" placeholder="Enter order zip" />
      <ng-template #zipErrorTemplate let-control>
        <ng-container *ngIf="control?.errors?.['required']">
          Please input order zip!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>Country</nz-form-label>
    <nz-form-control [nzErrorTip]="countryErrorTemplate">
      <input
        nz-input
        formControlName="country"
        placeholder="Enter order country"
      />
      <ng-template #countryErrorTemplate let-control>
        <ng-container *ngIf="control?.errors?.['required']">
          Please input order country!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <div nz-row nzJustify="end">
    <nz-space>
      <button *nzSpaceItem nz-button routerLink="/cart">Back</button>
      <button *nzSpaceItem nz-button nzType="primary" type="submit">
        Complete Order
      </button>
    </nz-space>
  </div>
</form>
