<form
  nz-form
  nzLayout="vertical"
  class="post-form"
  [formGroup]="postForm"
  (ngSubmit)="handleFormSubmit()"
>
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>Title</nz-form-label>
    <nz-form-control [nzErrorTip]="titleErrorTemplate">
      <input nz-input formControlName="title" placeholder="Enter post title" />
      <ng-template #titleErrorTemplate let-control>
        <ng-container *ngIf="control?.errors?.['required']">
          Please input post title!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>Content</nz-form-label>
    <nz-form-control [nzErrorTip]="contentErrorTemplate">
      <textarea
        nz-input
        formControlName="content"
        placeholder="Enter post content"
      ></textarea>
      <ng-template #contentErrorTemplate let-control>
        <ng-container *ngIf="control?.errors?.['required']">
          Please provide post content!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <button
    type="submit"
    nz-button
    nzType="primary"
    class="create-button"
    [disabled]="!postForm.valid"
  >
    <span nz-icon nzType="plus-circle" nzTheme="outline"></span>Create
  </button>
</form>
