<div class="app-wrapper">
  <div nz-row nzJustify="space-between" nzAlign="middle">
    <div nz-col>
      <h1>Blog</h1>
    </div>
    <div nz-col>
      <nz-tag nzColor="processing">
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
        {{ currentDateTime$ | async | date : dateFormatPattern }}
      </nz-tag>
    </div>
  </div>
  <app-post-form (onFinish)="handlePostFormFinish($event)"></app-post-form>
  <nz-divider></nz-divider>
  <nz-input-group [nzSuffix]="suffixIconSearch">
    <input
      nz-input
      type="text"
      placeholder="Input search text"
      [(ngModel)]="searchQuery"
    />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>
  <ng-container
    *ngIf="(posts | postFilter : searchQuery).length > 0; else emptyTemplate"
  >
    <div nz-row [nzGutter]="[10, 10]">
      <div
        nz-col
        nzSpan="24"
        *ngFor="let post of posts | postFilter : searchQuery"
      >
        <app-post
          [id]="post.id"
          [title]="post.title"
          [content]="post.content"
          [createdAt]="(post.createdAt | date : dateFormatPattern)!"
          (onDelete)="handlePostDelete(post.id)"
        ></app-post>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyTemplate>
    <nz-empty
      style="color: rgba(0, 0, 0, 0.25)"
      nzNotFoundImage="simple"
      [nzNotFoundContent]="
        searchQuery
          ? 'Nothing was found.'
          : 'No post here yet. Create a post using a form above.'
      "
    ></nz-empty>
  </ng-template>
</div>
