<div class="app-wrapper">
  <app-post-form (onFinish)="handlePostFormFinish($event)"></app-post-form>
  <nz-divider></nz-divider>
  <ng-container *ngIf="posts.length > 0; else emptyTemplate">
    <div nz-row [nzGutter]="[10, 10]">
      <div nz-col nzSpan="24" *ngFor="let post of posts">
        <app-post
          [id]="post.id"
          [title]="post.title"
          [content]="post.content"
          (onDelete)="handlePostDelete(post.id)"
        ></app-post>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyTemplate>
    <nz-empty
      style="color: rgba(0, 0, 0, 0.25)"
      nzNotFoundImage="simple"
      nzNotFoundContent="No post here yet. Create a post using a form above."
    ></nz-empty>
  </ng-template>
</div>
