<nz-layout class="layout-inner">
  <nz-sider nzTheme="light">
    <nz-radio-group
      nzSize="large"
      nzButtonStyle="solid"
      class="categories-group"
      [ngModel]="selectedCategory"
      (ngModelChange)="selectedCategory = $event; selectedPage = 1"
    >
      <nz-space nzDirection="vertical">
        <label *nzSpaceItem nz-radio-button [nzValue]="">Home</label>
        @for (category of categories; track $index) {
        <label *nzSpaceItem nz-radio-button [nzValue]="category">
          {{ category }}
        </label>
        }
      </nz-space>
    </nz-radio-group>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div nz-row [nzGutter]="[0, 20]">
        @for (product of products; track product.id) {
        <app-product-card
          nz-col
          nzSpan="24"
          [product]="product"
          (onAddToCart)="addProductToCart(product)"
        />
        }
      </div>
    </nz-content>
    <nz-footer>
      <div nz-row nzJustify="end" nzGutter="20" nzAlign="middle">
        <div nz-col>
          <nz-radio-group [(ngModel)]="selectedPage" nzSize="large">
            <ng-container *counter="let page of pageCount">
              <label nz-radio-button [nzValue]="page">
                {{ page }}
              </label>
            </ng-container>
          </nz-radio-group>
        </div>
        <div nz-col>
          <nz-select nzSize="large" [(ngModel)]="productsPerPage">
            @for (option of productsPerPageOptions; track $index) {
            <nz-option [nzValue]="option" nzLabel="{{ option }} per Page" />
            }
          </nz-select>
        </div>
      </div>
    </nz-footer>
  </nz-layout>
</nz-layout>
