<div class="content">
  <h2 class="text-center">Your Cart</h2>
  <nz-table
    #basicTable
    nzTableLayout="fixed"
    [nzData]="cart.lines"
    [nzFrontPagination]="false"
  >
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Product</th>
        <th nzAlign="right">Price</th>
        <th nzAlign="right">Subtotal</th>
        <th nzAlign="right">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for(line of cart.lines; track $index) {
      <tr>
        <td>
          <nz-input-number
            [nzMin]="1"
            type="number"
            style="width: 5em"
            [ngModel]="line.quantity"
            (ngModelChange)="cart.updateQuantity(line.product, $event)"
          />
        </td>
        <td>{{ line.product.name }}</td>
        <td nzAlign="right">
          {{ line.product.price | currency : "USD" : "symbol" : "2.2-2" }}
        </td>
        <td nzAlign="right">
          {{ line.lineTotal | currency : "USD" : "symbol" : "2.2-2" }}
        </td>
        <td nzAlign="right">
          <button
            nz-button
            class="btn btn-sm btn-danger"
            (click)="cart.removeLine(line.product.id ?? 0)"
          >
            Remove
          </button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="5" nzAlign="center">Your cart is empty</td>
      </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" nzAlign="right">Total:</td>
        <td nzAlign="right">
          {{ cart.cartPrice | currency : "USD" : "symbol" : "2.2-2" }}
        </td>
      </tr>
    </tfoot>
  </nz-table>

  <div nz-row nzJustify="end">
    <nz-space>
      <button *nzSpaceItem nz-button routerLink="/store">
        Continue Shopping
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        routerLink="/checkout"
        [disabled]="cart.lines.length == 0"
      >
        Checkout
      </button>
    </nz-space>
  </div>
</div>
